@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

@import url('../css/font.css');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#000000;
    --secon-bg-color:#292e33;
    --big-font: 2.5rem;
    --normal-font:2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font : 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);






        /* theme font-family*/

        --Abel:'Abel',cursive;
        --Anton:'Anton' , cursive;
        --Josefin:'Josefin' ,cursive;
        --Lexend:'Lexend',cursive;
        --Livvic:'Livvic',curusive;
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem ;
}

::-webkit-scrollbar-track{
    background: #323946;

}

::-webkit-scrollbar-thumb{
    background: whitesmoke;
    border-radius: 5rem;
}

body
{
    font-size: "Poppins" , sans-serif;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    font-family:Arial, Helvetica, sans-serif ;
}

@keyframes color{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position:100% 50%;
    }
    0%{
        background-position:0 50%;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background:var(--bg-color);
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
}

.header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #23d5ab;
}

.bts{
    display: inline-block;
    padding: 1rem 1.2rem;
    background: var(--hover-color);
    border-radius: 2em;
    box-shadow: 0 0 1rem var(--hover-color);
    font-size: 1rem;
    color: var(--secon-bg-color);
    letter-spacing: .1rem;
    transition: .5s ease;
}

.bts:hover{
    box-shadow: none;

}

span{
    color:var(--hover-color);
}

.navlist{
    display: flex;
}

.navlist a{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(252, 252, 252, 0.6),
    0 0 30px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}

.navlist a.active{
    color: var(--hover-color);
}
#menu-icon{
    font-size: 1.8rem ;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: #ffffff;
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

#menu-icon:hover{
    background-color:var(--hover-color);
    color: #f5f5f5;
}

section{
    padding: 100px 10%;
}

.home{
min-height: 100vh;
height: 100%;
width: 100%;
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
grid-gap:4rem;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text h2{
    display: inline-flex;
    margin:0;
    vertical-align: top;
    font-weight: 700;
}

.change-text h2 .word{
    position: absolute;
    display: flex;
    opacity: 0;
    color: var(--hover-color);
}

.change-text h2 .word .letter{
    transform-origin: center center 25px;
}

.change-text h2 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6 , 0 , 0.7 ,0.2);
}

.change-text h2 .word .letter.in{
    transition: 0.38s ease;
}

.change-text h2 .word .letter.behind{
    transform: rotateX(-90deg);
}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}
.info-box h5{
    font-weight: 600;
    color:var(--bg-color);
    font-size: 1.5rem;
}
.info-box span{
    font-size: 1.2rem;
    color:var(--secon-bg-color);
    font-family: var(--Lexend);
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color:var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid  #d04e4e;
}

a.btn:hover{
    color: #000000;
}

a.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--text-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;

}

a.btn:hover::before{
    width: 100%;
}

a.btn:nth-child(2)
{
    background-color: var(--bg-color);
    color: var(--hover-color);
}

a.btn:nth-child(2):hover{
    color: #d04e4e;
}

a.btn:nth-child(2)::before{
    background: var(--text-color);
}

.social-icons{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.social-icons a{
    display:inline-flex;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items:center;
    background: var(--bg-color);
    color:#fcfcfc;
    border: 2px solid whitesmoke;
    transition: .6s;
    box-shadow: 0 0 0.3rem #ffffff;
    border-radius: 4px;
    position: relative;
    z-index:1;
    overflow: hidden;
    padding: .5rem;
}

.social-icons a i{
    font-size: 1.5rem;
}

.social-icons a:hover
{
    background:var(--text-color);
    color: #d04e4e;
}

.social-icons a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--text-color);
    width: 0;
    z-index: -1;
    transition: .6s;

}

 .social-icons a:hover::before{
    width: 100%;
 }

 .img-box{
    text-align :center;
 }

 .img-box img{
    width: 100%;
    max-width: 350px;
    height: auto;
 }

 .liquid-shape{
    position:absolute;
    width:40%;
    height: 40%;
    z-index: -1;
    top:20%;
    opacity: 50%;
 }

 .liquid-shape:nth-child(2){
    filter: blur(50px);
 }

 /*--------------------------------about section-------------------------*/

 .about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    grid-gap : 2rem;
}

.about .img-about{
    text-align: center;
    position: relative;
}

.about .img-about img{
    position: relative;
    width: 400px;
    height: 400PX;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 50px;
    border-width: 4px;
    border-style: solid;
    border-color:orange;
}

.about-content span{
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 2%;
}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
    margin-left: 2%;
}

.about-content h3{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: .2rem;
    color:salmon;
    margin-left: 2%;
}

.about-content p{
    color: whitesmoke;
    font-weight: 400;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    margin-left: 2%;
}

.about-content i{
    color:#d2001a
}

.info-about1, 
.info-about2 , 
.info-about3{
    background-color: #091a57;
    font-size: 0.5rem;
    position: absolute;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--text-color);
    border: 1px solid var(--hover-color);
    outline: 2px solid rgb(239, 238, 238);
    z-index: 100;
    animation: morph 6s linear infinite;
}

.info-about1{
    left: 5%;
    top: 15%;
}

.info-about2{
    left: 70%;
    top: 2%;
}

.info-about3{
    left: 61%;
    top: 90%
}

.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}

.img-about p{
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    font-weight: 50;
}


@keyframes morph {
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
    
}

/*---------------------------------------services section-----------------------------------------*/


.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
    background-color: #f5f5f5;
}

.main-text span{
    color: goldenrod;
}

.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap : 2rem;
}

.section-services .service-box{
    flex:1 1 5rem;
    padding:2rem 2rem 2rem;
    text-align:center;
    background: rgb(20, 20, 81);
    border-radius: 10px;
    height: auto;
}

.service-icon{
    border: 2px solid var(--hover-color);
    padding: 1rem;
    background: var(--text-color);
    display : flex;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    position: relative;
    color: #d04e4e;
    box-shadow: var(--hover-color);
    outline: rgb(255, 0, 255);
}

.service-icon:hover{
    color: #000000;
}

.service-box h3{
    color: #12f7ff;
    margin-top: 10px;
    font-size: 1.5rem;
}

.service-box p{
    color: aliceblue;
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
}

.service-box:hover{
    transform: translateY(-.7rem);
    border: 2px solid var(--hover-color);
}

.service-btn{
    width: auto;
    justify-content: center;
}

.service-btn:hover{
    transform: translateY(-.7rem);
}

 /*--------------------------------skills section-------------------------*/

 .skills{
    background-color: #000000;
 }

.skill-main{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:30px;
    grid-column-gap: 50px;
}

.skill-bar{
    margin-bottom: 2.3rem;
}

.skill-main h3{
    margin-bottom: 2rem;
    text-align: center;
    font-size: var(--normal-font);
}

.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: #fefbfb;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #d2001a;
    border-radius: 25px;
    box-shadow: #01baf8;
}

.mari{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: white;

}

.skill-left h3{
    color: #f5f5f5;
}

.skill-bar .info p{
    color:#f5f5f5;
}

.skill-bar .bar .c{
    width: 90%;
    animation: c 2s;

}

.skill-bar .bar .java{
    width: 76%;
    animation: java 3s;

}

.skill-bar .bar .python{
    width: 65%;
    animation: python 4s;

}

 /*--------------------------------skills section right-------------------------*/
.skill-right h3{
    color: rgb(255, 255, 255);
}

 .professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 
 .box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
 }

  .box .text{
    text-align: center;
    color: #f5f5f5;
    font-size: 1rem;
  }

  .box .text big{
    font-size: 1.5rem;
    font:400;
    letter-spacing: 1px;
    position: absolute;
    top:40%;
    left: 50% ;
    transform: translate(-50% , -50%);
    color: #ffffff;

  }

.box .text small{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #fefbfb;
}

  .circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .circle .points{
    width:2px;
    height: 10px;
    background-color: var(--text-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
    
  }

  .points.marked{
    
    animation: glow 0.04s linear forwards;
    animation-delay:calc(var(--i)*0.05s);
  }
  
/*--------------------------------key frame-------------------------*/
@keyframes glow{
    0%{
        background-color: var(--text-color);
        box-shadow: none;
    }
    100%{
        background-color: #d2001a ;
        box-shadow: orange;
    }
}







  @keyframes c 
  {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
  }

  @keyframes java
  {
    0%{
        width: 0%;
    }
    100%{
        width: 76%;
    }
    
  }

  @keyframes python
  {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
    
  }
  
  
  
  
  /*--------------------------------portfolio-------------------------*/
.heading {
    text-align: center;
    font-size: 3rem;
    color:whitesmoke
}

.clam {
    text-align: center;
    font-size: 3rem;
    color:rgb(8, 8, 8)
}

.heading span{
    color: var(--hover-color);
}


  .portfolio
  {
    background: #323946;
  }

  .portfolio h2{
    margin-bottom: 4rem;
  }

  .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
  }

  .portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
  }

  .portfolio-box img{
    width: 100%;
    transition: .5s ease;
  }

  .portfolio-box:hover img{
    transform: scale(1.1);

  }

  .portfolio-box .portfolio-layer {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0,0,0,.1) , var(--hover-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }

  .portfolio-box:hover .portfolio-layer{
    transform: translateY(0);

  }

  .portfolio-layer h4{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  .portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--text-color);
  }

  .portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--text-color);
    border-radius: 50%;
  }


  .portfolio-layer a i{
    font-size: 1rem;
    color: var(--secon-bg-color);
  }

  .portfolio-layer i:hover{
    color: #d2001a;
    cursor: pointer;
  }

  /*---------------------------------------contact us-----------------------------------*/

  .contact{
    background: #1f242d;
  }

  .contact p{
    color: var(--text-color);
    font-family: var(--Abel);
    text-align: center;
    font-size: 1.5rem;
  }
  .contact h2{
    margin-bottom: 1rem;
  }
.contact form{
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
width: 100%;
padding: 1.5rem;
font-size: 1.2rem;
color: var(--text-color);
background-color:#323946;
border-radius: .8rem;
margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;

}

.contact form textarea{
    resize: vertical;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}



/*----------------------------------------------Footer site-----------------------------------------------*/

/*-----------------------------------Footer----------------------------------------*/
footer.footer{
    background-color: var(--bg-color);
    display: flex;
}

footer.footer .coinatiner-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
}

footer.footer .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
}

footer.footer p{
    color: #c2e9fb;
}

footer.footer .container> div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--text-color);
    justify-content: space-between;

}


footer.footer .follow div i{
    color: var(--text-color);
    padding: 0.2rem;
}

footer.footer .rights{
    align-items: center;
    justify-content: center;
    font-family: var(--Josefin);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20%;
}

footer.footer .rights h4 a{
    color: aqua;
}

footer.footer .rights .text-grey{
    color: var(--text-color);
}

.footer-iconTop a{
    position: absolute;
    right: 5%;
    margin-top: 10%;
    padding: .8rem;
    transition: .5s ease;
}

.footer-iconTop a i{
    font-size: 2rem;
    color: var(--hover-color);
}

/* break point*/
.home-content{
    margin-top: 5rem;
}

.social-icons{
    margin-top: 2rem;
}

@media(max-width:991px)
{
    header,
    .header.sticky{
        padding: 15px 5%;
    }

    footer{
        padding: 15px 5%;
    }
}


@media(max-width:768px) {
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }

    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }
    .navlist{
        display: flex;
        position: absolute;
        top:-1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: #323946;
        text-align: left;
        padding: 0 5%;
        transition: all .45s  ease;
    }

    .navlist a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .navlist.open{
        top: 100%;
    }
    
    .home{
        grid-template-columns: 1fr;
    }
    .home-image{
        margin-bottom: 5rem;
    }
    .liquid-shape{
        width: 80%;
        left: 10%;
        top:13%;
        margin-top: 110%;
    }

    .about{
        flex-direction: column-reverse;
    }
    .skill-main{
        grid-template-columns: 1fr;
    }
    footer.footer .coinatiner-footer{
        grid-template-columns: 1fr;
    } 
    .footer-iconTop
    {
        margin-bottom: 40% ;
    }
}


@media(max-width:420px)
{
    html{
        font-size: 70%;
    }
    footer{
        display: inline;
    }
    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
        font-size: .8rem;
    }
    .img-about
    {
        width: auto;
    }
    .info-about1,.info-about2,.info-about3{
        display: none;
    }
    .img-about p{
        font-size: 1rem;
    }
}
